:root{
  --background-default:  #1c273c;
  --color-default:  #fff;
}

*, *:before, *:after {
  box-sizing: border-box;
}
html, body{margin: 0; padding: 0; width: 100%; height: 100%;}
body{
  font-family: 'Roboto', sans-serif;
  background: var(--background-default);
  color: var(--color-default);
}
.page-wrapper{
  width: 100%;
  height: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
}
header{
  height:200px;
}
main{
  width: 100%;
  flex: 1 1 auto;
  /*display: flex;*/
  /*flex-flow: row nowrap;*/
}
.canvases{
  position: relative;
  position: relative;
  padding-top: 35.97%;
}
.cnv-ctnr{
  position: absolute;
  top: 0;
  height: 100%;
}
.cnv-ctnr.canvas3d{
  /*padding-top: 56.25%;*/
}
.cnv-ctnr.canvas2d{
  /*padding-top: 100%;*/
}
.canvas3d{
  left: 0;
  width:64%;
}
.canvas2d{
  right: 0;
  width:36%;
}
canvas{
  background: #ccc;
  width: 100%;
  height: 100%;
}
.canvas2d canvas{
  background: #ddd;
}
footer{
  height:100px;
}